.Navbar_main{
    background-color:red;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 0 8%;
    width:100%;

.Menu{
    align-items: center;
    display: flex;
    list-style: none;
}
li{
    color:black;
    font-size:16px;
    padding: 10px 15px;
}
&:hover{
    columns: #847248;
}
}